.App {
  text-align: center;
}

.container {
  height: 89vh;
  margin-left: 5%;
}

.main {
  height: 95%;
}
.header {
  margin: 5%;
  margin-bottom: 2%;
  margin-top: 10px;
  height: 10%;
  /* background-color: black; */
}

.actions {
  height: 85%;
  margin: 10px;
  /* background-color: blue; */
}

.events {
  height: 85%;
  margin: 10px;
  background-color: aquamarine;
}

.events-list {
  width: 100%;
}

.event-card {
  padding-top: 2%;
  background-color: aquamarine;
}

ul {
  list-style-type: none;
}

.action-form {
  padding-top: 40%;
}
.spinner {
  margin-top: 45%;
}
.primary {
  margin-left: -6%;
}

form {
  background: transparent;
  border: none;
}
